@import url('https://fonts.googleapis.com/css?family=Sacramento|Nunito');

* {
  font-family: 'Nunito', serif;
}

body {
  background: #969696;
  margin: 0;
}

input[type=number] {
  padding: 5px 0 5px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8em;
}

input[type=submit],
input[type=button] {
  border-radius: 4px;
  padding: 5px 12px;
  border: 1px solid #ccc;
  font-size: 0.8em;
}

header {
  background: #f2f2f2;
  text-align: right;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  padding: 25px;
  margin-top: 0;
  box-shadow: 0px 2px 9px 2px #797979;
}

#container {
  width: 600px;
  margin: 0 auto;
}

#help {
  margin-left: 109px;
}

#helpPage {
  max-width: 80%;
  margin: auto;
}

#helpPage p, ol {
  margin: 10px 20px;
}

#closeIcon {
  color: #777;
  width: 30px;
  height: 30px;
  transition: transform .3s ease-in-out;
}

#closeIcon:hover {
  color: #f00;
  transform: rotate(90deg);
}

#submit {
  margin-left: 9px;
}

#reset {
  margin-left: 29px;
}

#maxPage {
  margin-left: 9px;
}

.message,
form {
  border-radius: 8px;
  background: #f2f2f2;
  padding: 15px;
  box-shadow: 0 3px 5px 0px #797979;
}

.message {
  margin: 5px 0;
}

.sequence {
  text-align: justify;
}

.spacer {
  width: 550px;
  margin: 0 auto;
}

input {
  cursor: pointer;
}
