#helpPage {
  max-width: 80%;
  margin: auto;
}

#helpPage p, ol {
  margin: 10px 20px;
  text-align: justify;
}

#closeIcon {
  color: #777;
  width: 30px;
  height: 30px;
  transition: transform .3s ease-in-out;
}

#closeIcon:hover {
  color: #f00;
  transform: rotate(90deg);
}
